.navbar{
    text-align: center;
    background-color:#683200;
    height: 60px;
    min-width: 899px;
    margin: 0;
    display: flex;
    position: sticky; top: 0px;
    z-index: 1;
    align-items: center;
  }
.logo-button{
  display: flex;
}
.logo{
  height: 50px;
  margin-left: 100px;
  background-color: #FFD600;
  border-radius: 50%;
}
.monkidex{
  width: 340px;
  height: 50px;
  margin: 0;
  margin-left: 10px;
  
  display: flex;
  align-items: center;
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0.20em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFD600;
  
  
  }

  .spacer{
    width: 802px;
  }
  
  .buttons{
    display: flex;
    justify-content: right;
    height: 50px;
    align-items: center;
  }
  
  .button{
    width: 130px;
    height: 40px;
    left: 1181px;
    top: 15px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #FF9900;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
  }

  .button:hover{
    background-color: #ffb23e;
  }
  
  .button:active{
    background-color: #FF9900;
  }


  .button:link{
    text-decoration: none;
  }

  @media(max-width: 375px){
    .monkidex{
      display: none;
    }
    .spacer{
      display: none;
    }
    .navbar{
      height: 80px;
      width: 375px;
      min-width: 375px;
    }
    .buttons{
      margin: auto;
    }
    .button{
      width: 85px;
      height: 50px;
      font-size: 22px;
      padding-top: 10px;
      justify-content: space-around;
    }
  }