.postContainer{
    height: 846px;
}
.settings{
    display: flex;
}
.editDropdown{
    display: none;
}
.editPost{
    position: absolute;
    right: 245px;
    bottom: 180px;
}
.delete{
    position: absolute;
    right: 242px;
    bottom: 200px;
}
.newPostPic{
    max-width: 600px;
}
.editInput{
    height: 78px;
    width: 850px;
    resize: none;

    position: relative;
    top: -20px;
    left: -5px;

    border: 2px solid rgb(0, 59, 0);
    border-radius: 10px;
    background-color: rgb(0, 98, 16);
    color: white;
    font-family: 'Helvetica', sans-serif ;
    font-size: 16px;
}
.postDescription{
    width: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif ;
    font-size: 16px;
    color: white;
}

.postDescription:link{
    text-decoration: none;
}

.editPost:checked + .editDropdown{
    display: block;
}

.editPost:checked > .settings{
    display: block;
}