.create{
  width: 75px;
  height: 75px;
  margin: 0;

  background-color: rgb(105, 105, 105);
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 250px;
  bottom: 20px;
}

.create:hover{
  cursor: pointer;
  
  background-color:grey;
  bottom: 21px;
}

.editpfp{
  display: none;
  height: 50px;
  position: relative;
  top: 170px;
  right: 40px;
}

.profilecontainer:hover > .editpfp{
  display: flex;
}

.descriptionbox{
  height: 78px;
  width: 850px;
  resize: none;
  
  border: 2px solid rgb(0, 59, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: white;
  font-family: 'Helvetica', sans-serif ;
  font-size: 16px;
}
.profilecontainer{
  display: flex;
  height: 350px;
  border-bottom: 1px solid black;
}
.username{
  font-size: 40px;
  position: absolute;
  top: 290px;
  margin-left: 190px;
  color: white;
}
.banner{
  width: 100%;
  height: 200px;
}
.profile{
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 230px;
}

.newPostContainer{
  background-color: rgb(25, 75, 0);
  display: flex;
  margin: auto;
  min-height: 400px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputAreas{
}

@media(max-width: 375px){
  .create{
    right: 10px;
  }
}